<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/icon.svg" type="image/svg+xml" />
        <meta name="viewport" content="width=device-width" />
        <title>Astro JS 404 Page</title>
    </head>

    <body>
        <div class="container">
            <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="auto" viewBox="0 0 450 290" fill="none">
				<path d="M195.662 251.319H260.01" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M227.837 219.145V283.462" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M227.837 283.462C227.837 283.462 238.551 269.228 238.551 251.288C238.551 233.347 227.837 219.114 227.837 219.114" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M227.836 283.493C245.605 283.493 260.01 269.088 260.01 251.319C260.01 233.549 245.605 219.145 227.836 219.145C210.067 219.145 195.662 233.549 195.662 251.319C195.662 269.088 210.067 283.493 227.836 283.493Z" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M227.837 283.462C227.837 283.462 249.297 276.298 249.297 251.288C249.297 226.308 227.837 219.114 227.837 219.114" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M227.837 283.462C227.837 283.462 217.123 269.228 217.123 251.288C217.123 233.347 227.837 219.114 227.837 219.114" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M227.836 283.462C227.836 283.462 206.376 276.298 206.376 251.288C206.376 226.308 227.836 219.114 227.836 219.114" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M199.088 265.708C202.514 264.244 211.733 261.099 227.867 261.099C244.001 261.099 253.189 264.244 256.646 265.708" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M206.688 275.519C210.021 273.931 216.624 271.813 227.867 271.813C239.018 271.813 245.59 273.9 248.953 275.488" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M199.088 236.898C202.514 238.362 211.733 241.508 227.867 241.508C244.001 241.508 253.189 238.362 256.646 236.898" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M206.688 227.087C210.021 228.675 216.624 230.793 227.867 230.793C239.018 230.793 245.59 228.707 248.953 227.118" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M401.973 120.255L392.256 117.079L379.33 123.962L368.491 136.887L350.52 144.238L332.735 131.717L333.919 119.196V104.34H58.2441V212.635L74.9073 205.689L105.742 197.934L130.472 200.27L144.394 195.1L145.921 211.358L153.396 222.695L151.87 235.06L162.179 251.319H290.719L295.017 225.249L304.922 214.068L318.315 206.343H339.712L354.382 193.449L375.53 190.116L386.868 177.814L401.973 170.525V120.255Z" fill="#9AADE2" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M333.919 104.34L338.934 94.0303L325.478 73.7853L330.244 66.684H67.588C62.4177 66.684 58.2441 70.8575 58.2441 76.0278V104.34H333.919Z" fill="#091A3C" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M80.8547 91.4763C84.1402 91.4763 86.8036 88.8129 86.8036 85.5274C86.8036 82.2419 84.1402 79.5785 80.8547 79.5785C77.5692 79.5785 74.9058 82.2419 74.9058 85.5274C74.9058 88.8129 77.5692 91.4763 80.8547 91.4763Z" fill="white" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M101.411 91.4763C104.697 91.4763 107.36 88.8129 107.36 85.5274C107.36 82.2419 104.697 79.5785 101.411 79.5785C98.1258 79.5785 95.4624 82.2419 95.4624 85.5274C95.4624 88.8129 98.1258 91.4763 101.411 91.4763Z" fill="white" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M121.969 91.4763C125.254 91.4763 127.918 88.8129 127.918 85.5274C127.918 82.2419 125.254 79.5785 121.969 79.5785C118.683 79.5785 116.02 82.2419 116.02 85.5274C116.02 88.8129 118.683 91.4763 121.969 91.4763Z" fill="white" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M143.864 233.16L135.61 222.384L132.931 206.312L119.414 212.417L94.5593 211.825L64.3475 221.698L48.1826 229.796L50.2383 259.043C50.612 264.182 55.0659 268.075 60.205 267.701L154.547 261.098L143.116 245.619L143.864 233.16Z" fill="#9AADE2" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M144.394 195.1L152.119 182.735L148.257 156.447L112.688 145.11L91.8197 153.115L77.6482 149.502L72.2288 138.943L58.2441 131.717" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M112.688 145.11L116.021 129.412L127.918 120.131L152.119 115.49L159.843 104.34" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M159.842 104.34L157.538 85.5274L168.345 66.684" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M148.256 156.447L163.113 146.262L181.957 142.525L197.28 132.901L214.38 136.389L226.402 146.48L245.246 151.495L253.78 165.293L248.08 176.692L248.516 192.016L232.32 198.152L215.034 191.798L197.28 195.1L191.581 204.288L176.039 209.52L162.179 213.04L153.395 222.695" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M248.514 192.016L258.606 197.124L266.89 207.34L282.557 209.894L285.111 217.245L295.015 225.249" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M385.653 201.391L364.286 202.699L348.433 214.13L327.129 212.074L313.051 218.49L302.119 228.675L295.36 254.215L396.803 263.964C401.942 264.462 406.489 260.694 406.988 255.554L413.809 184.448L398.08 190.272L385.653 201.391Z" fill="#9AADE2" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M245.245 151.495L250.539 139.597L267.826 132.901L287.666 134.458L312.147 127.731L332.734 131.717L350.519 144.238L348.712 159.001L357.091 174.637L354.381 193.449" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M256.832 104.402L251.817 91.4763L239.919 80.6686L225.935 84.0947L213.507 78.0212L206.655 66.684" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M250.538 139.597L243.624 125.799L247.081 113.123L256.83 104.402" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M251.817 91.4764L268.169 94.0304L285.611 91.4764L306.447 81.167L322.55 87.6142L338.933 94.0304" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M416.115 67.307L411.879 39.3377C411.1 34.2297 406.335 30.7102 401.258 31.4889L339.557 40.8016L335.913 48.5258L352.234 66.5283L348.808 77.4918L416.115 67.307Z" fill="#091A3C" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M371.202 114.431L351.735 104.714L351.019 92.1617L348.808 77.4607L416.115 67.307L418.482 83.0358L408.421 81.3539L396.648 90.0749L387.865 104.496L371.202 114.431Z" fill="#9AADE2" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M333.919 104.34L338.934 94.0303L325.478 73.7853L330.244 66.684H67.588C62.4177 66.684 58.2441 70.8575 58.2441 76.0278V104.34H333.919Z" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M58.2429 57.1532C69.6991 57.1532 78.9862 47.8661 78.9862 36.4099C78.9862 24.9536 69.6991 15.6665 58.2429 15.6665C46.7866 15.6665 37.4995 24.9536 37.4995 36.4099C37.4995 47.8661 46.7866 57.1532 58.2429 57.1532Z" fill="#F0B7C6" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M58.2427 36.4099C70.8569 38.7459 67.898 54.755 67.898 54.755" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M58.2427 36.4098C66.5899 26.6611 78.9549 37.2196 78.9549 37.2196" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M58.2431 36.4099C53.9449 24.3252 69.3 18.8746 69.3 18.8746" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M58.2417 36.4099C45.6275 34.074 48.5864 18.0648 48.5864 18.0648" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M58.2435 36.4099C49.8963 46.1587 37.5312 35.6001 37.5312 35.6001" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M58.2429 36.4099C62.5411 48.4946 47.186 53.9452 47.186 53.9452" stroke="#091A3C" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M265.838 2.79379L267.422 6.90057L267.582 7.3156L267.998 7.47462L272.082 9.03819L267.994 10.6228L267.582 10.7823L267.423 11.1939L265.838 15.2826L264.274 11.1978L264.116 10.7832L263.702 10.6228L259.613 9.03819L263.698 7.47462L264.116 7.31471L264.275 6.89669L265.838 2.79379Z" fill="#E9CF85" stroke="#091A3C" stroke-width="2"/>
				<path d="M9.0266 220.837L10.5902 224.921L10.7492 225.337L11.1642 225.497L15.271 227.081L11.1681 228.644L10.7492 228.804L10.5896 229.223L9.02659 233.325L7.44255 229.219L7.28247 228.804L6.86703 228.645L2.78221 227.081L6.87092 225.496L7.28247 225.337L7.44197 224.925L9.0266 220.837Z" fill="#E9CF85" stroke="#091A3C" stroke-width="2"/>
				<path d="M425.369 274.72L426.954 278.808L427.113 279.22L427.525 279.379L431.614 280.964L427.529 282.528L427.113 282.687L426.953 283.102L425.369 287.208L423.806 283.105L423.647 282.687L423.229 282.528L419.145 280.964L423.233 279.379L423.647 279.219L423.806 278.804L425.369 274.72Z" fill="#E9CF85" stroke="#091A3C" stroke-width="2"/>
				<path d="M440.962 133.347L442.526 137.432L442.685 137.847L443.1 138.007L447.222 139.597L443.1 141.187L442.685 141.347L442.526 141.763L440.962 145.847L439.378 141.759L439.218 141.347L438.806 141.188L434.703 139.597L438.806 138.007L439.218 137.847L439.378 137.436L440.962 133.347Z" fill="#E9CF85" stroke="#091A3C" stroke-width="2"/>
				</svg>
            <h1>Ooooops! Page not found</h1>
            <p>It seems like the page that you are looking for doesn’t exist. Or there is some error in the URL.</p>
            <a href="/index.html">go to the Main page</a>
        </div>
    </body>

    <style>
        * {
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			font-weight: 100 1000;
			font-stretch: 25% 151%;
		}

		body {
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #F7F6F2;
			height: 100vh;
			font-family: Inter, serif;
		}

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 510px;
			width: 100%;
		}

		img {
			margin-top: 56px;
			max-width: 450px;
			width: 100%;
		}

		h1   {
			font-weight: 800;
			font-size: 40px;
			line-height: 140%;
			color: #091A3C;
			margin-top: 24px;
		}

		p    {
			font-weight: 400;
			font-size: 16px;
			line-height: 170%;
			color: #667085;
			margin-top: 8px;
			text-align: center;
		}

		a {
			padding: 10px 18px;
			background: #F48757;
			box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
			border-radius: 8px;
			outline: none;
			border: none;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 16px;
			line-height: 24px;
			color: #ffffff;
		}

		a:hover {
			background: #F58D5F;
		}

		a:active {
			background: #E46A34;
		}
    </style>
</html>