$black: #111626;
$black2: #171D31;
$gray: #585471;
$gray2: #A5A7B7;
$gray-stroke: #F0F3F6;
$gray3: #F6F8FB;
$violet-dark: #7B77EC;
$violet: #837EFC;
$violet2: #C1BFFE;
$violet-light: #E0DEFE;
$gray-light: #F6F7FB;
$turquoise: #31C6C7;
$blue: #30B1CF;
$orange: #F4C16A;
$turquoise2: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #2FC5C6;
$green: #B0E097;
$red: #FF9393;
$red3: #f53535;
$red2: #FFF7F7;
$orange1: #EAB965;
$orange2: #FFF9EF;
$green1: #9EBC8E;
$green2: #F5FFF0;
$sidebar-dark-theme: #171B2E;