@import "common";
@import './variables';
@import './code.scss';

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
}

body {
    font-family: 'Metropolis-Medium', sans-serif;
    font-size: 16px;
    color: $gray;
}

a {
    color: inherit;

    &:hover {
        color: inherit;
    }
}
